[ANNOTATION]
Human = data/gencode.v33.annotation.gff3.noPAR
[INTRONBAM]
Gibbon = data/SRR10221985_Aligned.sortedByCoord.out.bam,data/SRR10221986_Aligned.sortedByCoord.out.bam,data/SRR10221987_Aligned.sortedByCoord.out.bam,data/SRR10221988_Aligned.sortedByCoord.out.bam
Rhesus = data/SRR9890657_Aligned.sortedByCoord.out.bam,data/SRR9890650_Aligned.sortedByCoord.out.bam
Orangutan = data/SRR6026509_Aligned.sortedByCoord.out.bam
Chimp = data/SRR6025894_Aligned.sortedByCoord.out.bam
Marmoset = data/SRR8950097_Aligned.sortedByCoord.out.bam,data/SRR10466922_Aligned.sortedByCoord.out.bam,data/SRR1758438_Aligned.sortedByCoord.out.bam
Gorilla = data/SRR6025931_Aligned.sortedByCoord.out.bam
Human = data/GRCh38Aligned.sortedByCoord.out.bam
[ISO_SEQ_BAM]
Gibbon = data/gibbon1_merged_flnc.sorted.bam,data/gibbon2_merged_flnc.sorted.bam
Rhesus = data/macaque2_merged_flnc.sorted.bam,data/macaque1_merged_flnc.sorted.bam,data/rhesus0_merged_flnc.bam.sorted.bam,data/rhesus1_merged_flnc.bam.sorted.bam,data/rhesus2_merged_flnc.bam.sorted.bam,data/rhesus3_merged_flnc.bam.sorted.bam
Orangutan = data/orang.isoseq_flnc.sorted.bam
Chimp = data/chimp.isoseq_flnc.sorted.bam
Marmoset = data/marmoset7_merged_flnc.bam.sorted.bam,data/marmoset16_merged_flnc.bam.sorted.bam,data/marmoset9_merged_flnc.bam.sorted.bam,data/marmoset18_merged_flnc.bam.sorted.bam,data/marmoset1_merged_flnc.bam.sorted.bam,data/marmoset12_merged_flnc.bam.sorted.bam,data/marmoset10_merged_flnc.bam.sorted.bam,data/marmoset20_merged_flnc.bam.sorted.bam,data/marmoset5_merged_flnc.bam.sorted.bam,data/marmoset19_merged_flnc.bam.sorted.bam,data/marmoset3_merged_flnc.bam.sorted.bam,data/marmoset14_merged_flnc.bam.sorted.bam,data/marmoset8_merged_flnc.bam.sorted.bam,data/marmoset17_merged_flnc.bam.sorted.bam,data/marmoset6_merged_flnc.bam.sorted.bam,data/marmoset11_merged_flnc.bam.sorted.bam,data/marmoset2_merged_flnc.bam.sorted.bam,data/marmoset13_merged_flnc.bam.sorted.bam,data/marmoset4_merged_flnc.bam.sorted.bam,data/marmoset15_merged_flnc.bam.sorted.bam
Gorilla = data/gorilla.isoseq_flnc.sorted.bam
Human = data/human.isoseq_flnc.sorted.bam
Bonobo = data/bonobo0_merged_flnc.bam.sorted.bam,data/bonobo1_merged_flnc.bam.sorted.bam,data/bonobo2_merged_flnc.bam.sorted.bam,data/bonobo3_merged_flnc.bam.sorted.bam
